
## mac osx ##
.DS_Store

## npm ##
node_modules/
package-lock.json

## webpack ##
webpack.config.js

## compiled files ##
public/bundle.js

## jest output ##
coverage/

##server tests ##
server/__tests__/

## data seed files ##
database_postgres/csvImageSeed.csv
database_postgres/csvShoeSeed.csv
database_mongoDB/jsonShoes.json

## query result screenshots ##
query_results_SS/

## newrelic ##
newrelic.js
newrelic_agent.log

## stress test screenshots ##
stressTest_SS/

*.pem

loaderio-bdef7994cae5a37ce60eacf86d464eae.txt
notes.txt
